footer {
    background-color: var(--color-232f3e);

    & .input-group-text {
        background-color: var(--color-232f3e);
        color: white;
        pad: 8px 17px;
    }
}

footer:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}