.bg-navbar {
    border-bottom: 1px solid var(--color-3b4149);
    background-color: var(--color-131921);
}

.bg-navbar .dropdown button img {
    width: 20px;
    height: 20px;
}

.bg-navbar .dropdown button:focus {
    box-shadow: none;
}

.bg-navbar .dropdown-menu {
    background-color: var(--color-131921);
    width: 100%;
    transform: translate3d(0px, 5px, 0px) !important;
}

.bg-navbar .dropdown-item {
    color: white;
    margin-bottom: 3px;
    border-bottom: 1px solid var(--color-3b4149);
}

.bg-navbar .dropdown-item:hover {
    background-color: transparent;
    color: var(--color-febd69) !important;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: var(--bs-navbar-toggler-icon-bg)
}