.main-product-image {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.main-product-image>div {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-product-image img {
    width: 100% !important;
    height: 500px !important;
    object-fit: cover;
}

.main-product-details {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-details h3.title {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 10px;
}

.main-product-details p.price {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
}

.main-product-details p.old-price {
    font-size: 14px;
}

.main-product-details a.review-btn,
.t-review {
    color: var(--color-777777);
    font-size: 13px;
}

.product-heading {
    font-size: 14px;
    color: var(--color-1c1c1b);
    margin-bottom: 0px;
}

.product-data {
    font-size: 13px;
    color: var(--color-777777);
    margin-bottom: 0px;
}

.product-details-wrapper {
    padding: 20px;
}

.main-product-details .links {
    font-size: 14px;
    color: var(--color-777777);
    background-color: transparent;
}

.description-wrapper h4,
.reviews-wrapper h4 {
    font-size: 26px;
    color: var(--color-1c1c1b);
    margin-bottom: 10px;
}

.description-wrapper p {
    font-size: 14px;
    color: var(--color-777777);
}

.review-inner-wrapper {
    background-color: white;
    padding: 30px;
}

.review-head {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.review-head h4 {
    font-size: 18px;
    color: var(--color-1c1c1b);
}

.review-head p,
.review-head a {
    font-size: 14px;
    color: var(--color-777777);
}

.review-form h4 {
    font-size: 16px;
    color: var(--color-777777);
}

.review:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review p {
    font-size: 14px;
    color: var(--color-777777);
}

.svg-filter {
    fill: red;
}